.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed white;
    height: 100px;
    width: 500px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.uploadedRow {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid white;
    height: 20px;
    width: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.uploadContent {
    display: flex;
    align-items: center;
}

.filePrompt {
    color: white; /* Cambia el color según prefieras */
    font-size: 16px; /* Ajusta el tamaño de fuente según necesites */
    margin-top: 10px; /* Añade un margen superior si es necesario */
}

.resetStyle {
    opacity: 0.5;
    transition: opacity 0.5s ease;
}