.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
}

.boton-navbar-estilo-comun, .boton-login-estilo {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}

.boton-navbar-estilo-comun:active, .boton-login-estilo:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.inicio-btn { left: 120px; }
.nosotros-btn { left: 160px; }
.faqs-btn { left: 200px; }
.noticias-btn { left: 240px; }
.mapa-btn { left: 280px; }
.cargarColaboradores-btn { left: 320px; }
.puntos-btn { left: 360px; }
.fallas-btn { left: 400px; }


.boton-login-estilo {
    width: 220px;
    height: 60px;
    background-color: #ffffff;
    font-size: 21px;
    text-transform: uppercase;
    color: #002b59;

}

.login-btn {
    left: 560px;
    top: 20px;
    width: 180px;
    height: 50px;
    background-color: white;
    align-content: center;
}

.contenido-login-btn {
    margin-left: 40px; /* Ajusta este valor según necesites */
}


.userTypeText {
    font-size: 20px;
    color: #666;
    display: block; /* Esto asegura que el texto se muestre debajo del botón si es necesario */
    text-align: center; /* Centra el texto debajo del botón */
    left: 550px;

}

.puntos-dropdown-container {
    position: relative;
    display: inline-block; /* Asegura que el contenedor se ajuste al tamaño del botón */
}

.puntos-dropdown {
    position: absolute;
    top: 30px;
    left: 360px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra para mejor visibilidad */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden; /* Esconde el contenido que se desborda */
}

.puntos-dropdown button {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    color: #333; /* Color del texto */
}

.puntos-dropdown button:hover {
    background-color: #f0f0f0;
}

